header {
    @media (min-width:767px) {
        min-height: 88vh;
        .vertical-center {
            min-height: 100%;
            /* Fallback for browsers do NOT support vh unit */
            min-height: 88vh;
            /* These two lines are counted as one :-)       */
            display: flex;
            align-items: center;
        }
    }
    background-image: url(../img/italy.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #fff;
}
