$gris: #323232;
$texte_gris: #737373;
$gridGutter: 10px;
$udacity: #ff9528;

@import 'nav';
@import 'header';
@import 'intro';
@import 'skills';
@import 'about_me';
@import 'cards';
@import 'social';
@import 'footer';

body {
    padding-top: 70px;
    .no-gutter > [class*='col-'] {
      padding-right: 0;
      padding-left: 0;
    }
    >.container,
    >*>.container {
        max-width: 800px;
    }
    >section>.container,
    section.container,
    footer {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    img {
      max-width: 100%;
    }
    @media (min-width: 767px) {
      .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
      }
      .vertical-center {
        min-height: 100%;
        min-height: 60vh;
        display: flex;
        align-items: center;
      }
    }
}
//body
