header #menu {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  width: 100%;
  padding: 0;
}

header #menu.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 5vh;
  /* These two lines are counted as one :-)       */
}

header #menu * {
  text-indent: none;
  list-style-type: none;
  text-align: center;
  width: 25%;
}
